apiVersion: v1
kind: Service
metadata:
  labels:
    app: ldap
  name: ldap-service
spec:
  selector:
    app: ldap
  ports:
    - protocol: TCP 
      name: ldap
      port: 389
      targetPort: 389
    - protocol: TCP 
      name: ldapssl
      port: 636
      targetPort: 636

