apiVersion: apps/v1
kind: Deployment
metadata:
  name: ldap-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ldap
  template:
    metadata:
      labels:
        app: ldap
    spec:
      containers:
      - name: 389ds
        image: 389ds/dirsrv:latest
        env:
        - name: DS_DM_PASSWORD
          value: secret
